@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1919;
    font-family: "Poppins", sans-serif;
}

header, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

header {
    background-color: #202020c9;
    box-shadow: 0 0 20px 0 #d449e0;
}

header ul li {
    list-style-type: none;
}

header ul li a:hover {
    transition: 0.3s all;
    background-color: #494848d5;
}

header ul li a {
    color: #ccc;
    outline: none;
    text-decoration: none;
    transition: 0.3s all;
    padding: 13px 20px;
    border-radius: 5px;
}

section.input_tokens .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

section.input_tokens .center textarea {
    border: 1px solid #d449e0;
    outline: none;
    text-decoration: none;
    margin-bottom: 8px;
    background-color: #1a1919;
    color: white;
    padding: 20px;
    border-radius: 3px;
    transition: 0.5s all;
    resize: none;
    max-width: 700px;
    width: 90%;
    height: 300px;
}

section.input_tokens .center button {
    background-color: #d449e0;
    border-style: none;
    color: #fffffe;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 30px;
}

section.input_tokens .center .fileLabel {
    background-color: #d449e0;
    border-style: none;
    color: #fffffe;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 30px;
}

section.input_tokens .custom-file-upload {
    background-color: #d449e0;
    border-style: none;
    color: #fffffe;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 30px;
}

section.input_tokens .center button:hover {
    transition: 0.3s all;
    background-color: #a30eb1;
}

section.input_tokens .center .fileLabel:hover {
    transition: 0.3s all;
    background-color: #a30eb1;
}

/* Results */

section.results .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.results .center button {
    background-color: #d449e0;
    border-style: none;
    color: #fffffe;
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all;
    margin: 40px 20px 30px;
}

section.results .center button:hover {
    transition: 0.3s all;
    background-color: #a30eb1;
}

section.results .table {
    word-break: break-all;
    margin-top: 10px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

section.results .table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #eba6f3;
    box-shadow: 0 0 12px 0 #d449e0;
    font-size: 14px;
}

section.results .table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

section.results .table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

section.results .table tbody td {
    color: #fffffe;
    text-align: center;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

section.results .table tbody tr:nth-child(even){
    background: #494848d5;
}

section.results .table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

section.results .table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.hide {
    display: none;
}